[submodule "cookbooks/nodejs"]
	path = cookbooks/nodejs
	url = git://github.com/hectcastro/chef-nodejs.git
[submodule "cookbooks/curl"]
	path = cookbooks/curl
	url = git://github.com/phlipper/chef-curl.git
[submodule "cookbooks/locale-gen"]
	path = cookbooks/locale-gen
	url = git://github.com/danhart/locale-gen.git
